@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Your other CSS code here */

@import 'flatpickr/dist/flatpickr.min.css';
@import 'choices.js/public/assets/styles/choices.min.css';

/* https://alpinejs.dev/directives/cloak */

[x-cloak] {
    display: none !important;
}

.ribbon {
  position: absolute;
  background: #c0c3c4;
  box-shadow: 0 0 0 999px #c0c3c4;
  clip-path: inset(0 -100%);
  padding: 0 20px;
  z-index: 9;
}
.top-left-ribbon {
  inset: 0 auto auto 0;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
}

.top-right-ribbon {
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
}

.stamp {
  position: absolute;
  left: 300px;
  top: 45px;
  max-width: 60%;
	transform: rotate(3deg);
	color: #666;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #666;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('../../public/images/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  color: #787b79;
  z-index: 9;
}

.stamp-style1 {}

.stamp-style2 {
  border: 0.5rem double #787b79;
	-webkit-mask-position: 2rem 3rem;
}

.stamp-style3 {
  border: 0.5rem solid #787b79;
	-webkit-mask-position: 13rem 6rem;
  border-radius: 0;
}

.stamp-style4 {
  border: 1rem double #787b79;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.4rem;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid currentColor; /* Adjusted border width */
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 12px;
    left: 12px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  4.9% {
    top: 12px;
    left: 12px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  5% {
    top: 12px;
    left: 12px;
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}


.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/** Paper sizes **/
page.A3               .sheet { width: 297mm; height: 419mm }
page.A3.landscape     .sheet { width: 420mm; height: 296mm }
page.A4               .sheet { width: 210mm; height: 296mm }
page.A4.landscape     .sheet { width: 297mm; height: 209mm }
page.A5               .sheet { width: 148mm; height: 209mm }
page.A5.landscape     .sheet { width: 210mm; height: 147mm }
page.letter           .sheet { width: 216mm; height: 279mm }
page.letter.landscape .sheet { width: 280mm; height: 215mm }
page.legal            .sheet { width: 216mm; height: 356mm }
page.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
   .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 0;
  }
}

/** Fix for Chrome issue #273306 **/
/* @media print {

  :not(page) {
    display: none;
  }

  page * {
    display: block;
  }

  page.A3.landscape { width: 420mm }
  page.A3, body.A4.landscape { width: 297mm }
  page.A4, body.A5.landscape { width: 210mm }
  page.A5                    { width: 148mm }
  page.letter, body.legal    { width: 216mm }
  page.letter.landscape      { width: 280mm }
  page.legal.landscape       { width: 357mm }
} */

@layer utilities {
  .transform-origin-top-left {
    transform-origin: top left;
  }
}

/* Targeting WebKit-based browsers like Chrome and Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* General approach to try and remove browser-specific styling */
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.highlight {
  background-color: #fff7ca; 
  background-image: linear-gradient(to right, #fff2ac, #fff7ca);
}